@font-face {
  font-family: 'barber';
  src: url('/projeto-barbearia/public/fonts/BarberShop-EXZj.ttf');
}

#navegacao-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
#texto-logo{
  margin: 0 auto;
  color: #242424;
}

#texto-logo-desde{
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
  color: #242424;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

#logo-img {
  width: 48px;
  height: 48px;
}
#logo-txt {
  font-family: 'barber';
  font-size: 40px;
  text-decoration: none;
  color: #242424;
}

#navegacao-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  background-color: #242424;
  width: 100%;
  height: 10vh;
}

#link-lista{
  color: #ffffff;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}