@font-face {
  font-family: 'barbearia';
  src: url(/public/fonts/CaptainBarberPersonalUse-owxxq.ttf);
}

@font-face {
  font-family: 'Queen';
  src: url(/public/fonts/Queensides-3z7Ey.ttf);
}


.navegacao {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  color: #fff;
  width: 100%;
  height: 10vh;
  display: flex;
  z-index: 1;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #242424;
}

.nav-fake {
  width: 240px;
  height: auto;
}

.navegacao-link {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
}

.link-lista {
  padding-left: 32px;
  padding-right: 32px;
  color: #fff;
  text-decoration: none;
  font-family: 'Queen';
}

.link-lista:hover {
  color: #EFB43A;
  transition: 0.5s;
}

.link-lista.active {
  color: #EFB43A; 
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 240px;
  height: auto;
}

.login:hover {
  color: #EFB43A;
  transition: 0.5s;
}

.login-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Queen';
  padding-left: 8px;
  padding-right: 8px;
}

.login-link:hover {
  color: #EFB43A;
  transition: 0.5s;
}

.logotipo {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logotipo-banner {
  display: flex;
  align-items: center;
}

.logotipo-banner-texto {
  font-family: 'barbearia';
  font-size: 80px;
  margin: 0 auto;
  padding-right: 8px;
}

.logotipo-banner-imagem {
  width: 400px;
  height: auto;
}

.banner {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.imagem-banner {
  width: 100%;
  height: auto;
  position: absolute;
  top: -60%;

}

.texto-banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
/*   top: 25vh;
  left: 25vw; */
}

.texto-banner-primeiro {
  font-family: 'Queen';
  color: #fff;
  font-size: 40px;
  margin: 0 auto;
  font-weight: bold;
}

.texto-banner-segundo {
  font-family: 'Queen';
  color: #fff;
  font-size: 80px;
  margin: 0 auto;
  font-weight: bold;
}
.banner-botao-container{
  width: 250px;
  height: 82px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.banner-botao-container:hover{
  transition: 0.5s;
  background-color: #e29f19;
}

.banner-botao{
  width: 240px;
  height: 72px;
  background-color: #EFB43A;
  border: #242424 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Queen';
  font-weight: bold;
  font-size: 24px;
}

.banner-botao:hover{
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  background-color: #e29f19;
}

.servico-titulo {
  font-family: 'barbearia';
  font-size: 32PX;
  text-align: center;
}

.servicos {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.servico-cards_corte {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #161515 1px solid;
  margin-left: 40px;
}

.servico-cards_barba {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #161515 1px solid;
}
.servico-cards_corte-barba {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #161515 1px solid;
  margin-right: 40px;
}

.servico-cards-imagem {
  width: 300px;
  height: 300px;
  overflow: hidden;
  transition: opacity 0.3s;
}

.servico-cards-imagem:hover {
  opacity: 0.7;
  cursor: pointer;
}

.servico-cards-imagem__aparar {
  width: 300px;
  height: auto;
}

.titulo-card {
  font-family: 'Queen';
  margin: 0 auto;
  font-size: 24px;
  padding-top: 8px;
}

.valor-card {
  font-family: 'Queen';
  margin: 0 auto;
  font-size: 24px;
  padding-top: 8px;
}

.botao {
  width: 130px;
  height: 40px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.botao-card {
  width: 120px;
  height: 30px;
  background-color: #EFB43A;
  border: #242424 1px solid;
}

.botao-card:hover {
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}

.rodape {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rodape-icones {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}

.rodape-copyright {
  font-family: 'Queen';
  margin-right: 80px;
  font-weight: bold;
}

.Agenda {
  width: 100%;
  height: 100vh;
}

.agenda-conteudo {
  width: 100%;
  height: 74vh;
}

.agenda-imagem {
  width: 100%;
  height: 74vh;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.agenda-imagem-fundo {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 27vh;
  left: 5vw;
  width: 90vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.9);
  /* Cor de fundo e transparência */
  color: #fff;
  /* Cor do texto dentro da div de sobreposição */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agenda-servico {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.agenda-servico-corte{
  width: 280px;
  height: 96px;
  border-top: #e29f19 1px solid;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.agenda-servico-corte_txt{
  font-family: 'Queen';
  font-weight: bolder;
}
.agenda-servico-corte_preco{
  font-family: 'Queen';
  margin: 0 auto;
  text-align: center;
}
.agenda-servico-corte_tempo{
  font-family: 'Queen';
  margin: 0 auto;
  text-align: center;
}

.agenda-servico-barba{
  width: 280px;
  height: 96px;
  border-top: #e29f19 1px solid; 
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.agenda-servico-barba_txt{
  font-family: 'Queen';
  font-weight: bolder;
}
.agenda-servico-barba_preco{
  font-family: 'Queen';
  margin: 0 auto;
  text-align: center;
}
.agenda-servico-barba_tempo{
  font-family: 'Queen';
  margin: 0 auto;
  text-align: center;
}

.agenda-servico-corte-barba{
  width: 280px;
  height: 96px;
  border-top: #e29f19 1px solid;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.agenda-servico-corte-barba_txt{
  font-family: 'Queen';
  font-weight: bolder;
}
.agenda-servico-corte-barba_preco{
  font-family: 'Queen';
  margin: 0 auto;
  text-align: center;
}
.agenda-servico-corte-barba_tempo{
  font-family: 'Queen';
  margin: 0 auto;
  text-align: center;
}

.agenda-data {
  width: 300px;
  height: 400px;
}

.agenda-horario {
  width: 300px;
  height: 400px;
}

.agenda-detalhes {
  width: 300px;
  height: 400px;
}

.agenda-servico-img {
  width: 100px;
}

.corte {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barba {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.corte-barba {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agenda-swtich {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.agenda-servico-aparar {
  margin-left: 40px;
}

.agenda-servico-titulo {
  font-family: 'Queen';
  text-align: center;
  color: #EFB43A;
  font-size: 24px;
}

.quem-somos_img{
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-left: 32px;
}
.que-somos_img-arquivo{
  width: 400px;
  height: auto;
  position:absolute;
  top: -30%;
  left: -30px;
}
.quem-somos_txt{
  width: 820px;
  height: 400px;
  background-color: #242424;
  margin-right: 32px;

}
.quem-somos_txt-titulo{
  font-family: 'Queen';
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: #EFB43A;
}
.quem-somos_txt-paragrafo{
  font-family: 'Queen';
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
}
.agenda-horario_colunas{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.agenda-horario_primeira-coluna{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 300px;
  margin-left: 40px;
}
.agenda-horario_segunda-coluna{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 300px;
  margin-right: 40px;
}
.primeiro-horario,.segundo-horario,.terceiro-horario,
.quarto-horario,.quinto-horario,.sexto-horario,
.setimo-horario,.oitavo-horario,.nono-horario,
.decimo-horario{
  width: 80px;
  height: 40px;
  background-color: #EFB43A;
  color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Queen';
  font-weight: bold;
}
.primeiro-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.segundo-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.terceiro-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.quarto-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.quinto-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.sexto-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.setimo-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.oitavo-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.nono-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.decimo-horario:hover{
  background-color: #cf9218;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}









