.calendario-customizacao{
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

.react-calendar__month-view__days__day{
  color: #fff;
}
.react-calendar__month-view__days__day:hover{
  color:#242424;
}

.react-calendar__navigation__label__labelText{
  color: #fff;
}
.react-calendar__navigation__label__labelText:hover{
  color:#242424;
}
.react-calendar__navigation__label{
  color: #fff;
}
.react-calendar__navigation__label:hover{
  color:#242424;
}
.react-calendar__navigation__arrow{
  color: #fff;
}
.react-calendar__navigation__arrow:hover{
  color:#242424;
}
.react-calendar__navigation__arrow:active{
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}
.react-calendar__month-view__days__day--weekend{
  color: #ca2222;
}
.react-calendar__year-view__months__month{
  color: #fff;
}
.react-calendar__year-view__months__month:hover{
  color:#242424;
}
.react-calendar__decade-view__years__year{
  color: #fff;
}
.react-calendar__decade-view__years__year{
  color:#242424;
}